html {
    background: #20222B;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: hsl(0, 0%, 10%);
}

#root {
    height: 100vh;
}

canvas {
    width: 100vw;
    height: 100vh;
}
